body {
    margin: 40px auto;
    width: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2
}

#q-results li {
    color: #006fff;
    cursor: pointer;
    text-decoration: underline;
}

#app {
    border: 1px solid black;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
